In [1]:
import pathlib

from Domain.Nutzenergieanalyse import NEAData

import Bevoelkerung
import Domain.General
import Energiebilanz
import General
import Nutzenergieanalyse
import Processor
import Utils


def create_general_data(g_laender_factory: Domain.General.GLaenderFactory):
    g_sektoren_factory = General.GSektorenDefaultFactory()
    g_bereiche_factory = General.GBereicheSimpleFactory()
    g_energietraeger_klassen_factory = General.GEnergietraegerKlassenSimpleFactory()
    g_energietraeger_factory = General.GEnergietraegerSimpleFactory()
    g_data_factory = General.GDataFactory(g_laender_factory, g_sektoren_factory, g_bereiche_factory,
                                          g_energietraeger_klassen_factory, g_energietraeger_factory)
    g_data = g_data_factory.create()
    return g_data

def create_nea_data(g_data: Domain.General.GData):
    nea_data_pickle_factory = Nutzenergieanalyse.NEADataPickleFactory(pathlib.Path('Data/Serialization'))
    nea_data_factory = Nutzenergieanalyse.NEADataETKlassenFactory(nea_data_pickle_factory)
    nea_data = nea_data_factory.create(g_data)
    return nea_data

def create_eb_data(g_data: Domain.General.GData):
    eb_laender_factory = Energiebilanz.EBLaenderDefaultFactory()
    eb_laender = eb_laender_factory.create(g_data.laender)
    eb_sektoren_factory = Energiebilanz.EBSektorenDefaultFactory(g_data.sektoren)
    eb_sektoren = eb_sektoren_factory.create()
    eb_data_factory = Energiebilanz.EBDataPickleFactory(pathlib.Path('Data/Serialization'))
    eb_energietraeger_factory = Energiebilanz.EBEnergietraegerDefaultFactory()
    eb_energietraeger = eb_energietraeger_factory.create(g_data)
    eb_data = eb_data_factory.create(eb_energietraeger, g_data)
    return eb_data

laender_factory = General.GBundeslaenderFactory()
general_data = create_general_data(laender_factory)

nea_dict_data = create_nea_data(general_data).data
nea_data = {land.name: {sektor.name: {bereich.name: nea_dict_data[land][sektor][bereich] for bereich in nea_dict_data[land][sektor].keys()} for sektor in nea_dict_data[land].keys()} for land in nea_dict_data.keys()}

#eb_dict_data = create_eb_data(general_data).data
#eb_data = {land.name: {sektor.name: eb_dict_data[land][sektor] for sektor in nea_dict_data[land].keys()} for land in eb_dict_data.keys()}

In [2]:
nea_data['wien']['Wohngebäude']['Heizen']

,Fossile fest,Fossile flüssig,Fossile gasförmig,Brennbare Abfälle,Scheitholz,Biogene,Erneuerbare,Fernwärme,Elektrische Energie
1993,931.050432,2764.589412,14856.410463,0.0,609.970000,35.403116,20.577942,4395.207174,987.330547
1994,805.413024,2546.803925,16068.843334,0.0,642.550000,34.180958,24.609932,4311.592572,948.933584
1995,725.920416,2719.656238,15126.623483,0.0,771.060000,35.224939,27.407655,4940.632420,944.139399
1996,678.693132,3128.941292,12995.856476,0.0,980.115000,35.301557,30.236620,5819.035473,914.592867
1997,499.988081,2619.002486,15279.628317,0.0,1017.220000,36.900067,33.015574,5840.645841,832.115967
1998,434.212272,2557.568249,14041.385001,0.0,933.055000,36.892171,36.065680,5682.256445,833.872359
1999,389.482008,2563.654469,15904.411940,0.0,914.378121,29.561674,37.693055,5582.337247,864.301626
2000,380.530959,2254.092105,15066.946827,0.0,838.466278,37.537088,39.579367,5224.449989,831.046030
2001,393.572834,2543.747752,15510.650836,0.0,846.826564,83.720028,40.183653,5450.559839,908.283919
2002,404.550498,2804.235530,14925.390168,0.0,772.039298,99.279959,54.309233,5676.669690,904.754196
2003,409.247238,3331.140375,16194.593177,0.0,752.273146,145.612372,54.309233,5891.329441,967.473954
2004,381.418424,3106.127827,15890.581142,0.0,717.648271,144.747723,54.309233,5680.138504,939.355444
2005,181.195145,1994.217948,18130.007039,0.0,832.257877,110.341341,25.075079,5160.185045,1378.660317
2006,166.435841,1837.474764,16793.893783,0.0,767.366066,150.519894,23.082435,4740.003750,1274.396296
2007,37.262199,1296.932671,15777.239307,0.0,731.772792,169.237301,71.464160,5569.146710,1201.359053
2008,37.963667,1318.010013,16137.567544,0.0,746.189611,173.882714,71.943101,5652.592574,1216.643166
2009,27.195096,1070.352895,17359.948174,0.0,577.497336,132.269791,77.106330,6055.746827,1449.113469
2010,31.076815,1232.967011,19561.106413,0.0,669.097546,146.126851,86.702444,6986.759442,1669.308533
2011,116.743915,1078.369459,16668.592089,0.0,883.856419,164.341389,110.837258,6642.477268,1496.263465
2012,124.638636,775.196547,16724.159885,0.0,903.087679,197.806934,119.472230,6846.241249,1525.500691
2013,48.756073,832.712703,16971.404538,0.0,1040.963035,202.218884,153.917597,8335.875788,1516.389770
2014,39.113066,699.743804,13857.165745,0.0,920.184044,184.691837,158.888985,7051.512013,1215.707681
2015,7.467088,1353.519450,14986.190103,0.0,789.153855,223.297992,210.952995,8094.657644,989.579277
2016,7.664656,1402.450079,15870.736025,0.0,844.145992,200.814945,218.670975,8661.472345,1054.419722
2017,9.964228,837.884740,15130.090456,0.0,669.526696,206.078635,218.843643,9448.384731,1424.552272
2018,8.896231,751.708432,14438.972826,0.0,627.229178,257.908337,219.355774,9111.134881,1407.207547
2019,7.939638,677.873130,14983.089135,0.0,559.236391,186.225028,195.577208,8123.471241,1389.862822
2020,7.860208,615.596738,15628.032175,0.0,559.236391,187.953735,195.577208,8123.471241,1435.351698

In [ ]:
def reduce_braunkohle(data):
    braunkohle = data['Braunkohle'].fillna(0) + data['Braunkohlen-Briketts'].fillna(0)
    result = data.drop('Braunkohlen-Briketts', axis=1)
    result['Braunkohle'] = braunkohle
    return result

def handle_braunkohle(data):
    return {land: {sektor: {bereich: reduce_braunkohle(data[land][sektor][bereich]) for bereich in data[land][sektor].keys()} for sektor in data[land].keys()} for land in data.keys()}

nea_data = handle_braunkohle(nea_data)

In [ ]:
def clean_negative_values(data):
    df = data.copy()
    df[df < 0] = 0
    return df

In [ ]:
extrapolation = Utils.DFLinearExtrapolation()
extension = Utils.DFNanExtension()
extrapolation_extension = Utils.DFExtrapolationExtension(extrapolation)

In [ ]:
def clean_after_braunkohle(data, sektor, bereich):
    if sektor != 'Wohngebäude':
        return data
    if bereich == 'Warmwasser und Kochen':
        return extension.run(data['1993':'2004'], data.index)
    if bereich == "Warmwasser":
        return extension.run(data['2005':], data.index)
    if bereich == "Kochen":
        return extension.run(data['2005':], data.index)
    return data

def handle_clean_after_braunkohle(data):
    return {land: {sektor: {bereich: clean_after_braunkohle(data[land][sektor][bereich], sektor, bereich) for bereich in data[land][sektor].keys()} for sektor in data[land].keys()} for land in data.keys()}

nea_data = handle_clean_after_braunkohle(nea_data)

In [ ]:
import matplotlib
import pandas as pd

matplotlib.rcParams["figure.figsize"] = (20,10)
matplotlib.rcParams['axes.labelsize'] = 14
matplotlib.rcParams['xtick.labelsize'] = 12
matplotlib.rcParams['ytick.labelsize'] = 12
matplotlib.rcParams['text.color'] = 'k'

#nea_data['wien']['Wohngebäude']['Heizen']
heizen_ph_wien = nea_data['wien']['Wohngebäude']['Heizen']
heizen_ph_wien_ex = extrapolation_extension.run(heizen_ph_wien, pd.PeriodIndex(pd.period_range(start=heizen_ph_wien.index[0], end='2040', freq='A'), name=heizen_ph_wien.index.name))
heizen_ph_wien_ex = clean_negative_values(heizen_ph_wien_ex)
heizen_ph_wien_ex.columns
#heizen_ph_wien_ex.plot()

#clean_negative_values(heizen_ph_wien_ex.sum).plot()
#heizen_ph_wien


#szenario
# wien 2040 -> 0 gas
# 2035 -> 0 oel
# 2030 -> 0 kohle

#fernwaerme, strom, umweltwaereme -> 1,2,3% steigung
#scheitholz bleibt gleich
#wie entwickeln sich die anderen?
#individuell pro bundesland
#gesamtergebnis fuer oesterreich